* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

.container {
    background-color:#442960;
    top: 0;
    left: 0;    
    width: 100%;
    position: relative;
    min-height: 100vh;
    text-align: center;
}
.header-img {
    width: 100%;
    height: 50%;
    margin-bottom: -1.5em;
}
.image-backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
#image-bg {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    display: none;
}

.aman-text {
    font-size: 4em;
    color: #eee;
    margin-bottom: 2em;
    font-weight: bold;
    margin-top: -0.75em;
    letter-spacing: 1px;
}

.video-carousal {
    display: inline-block;
    width: calc(100%);
    position: relative;
    color: white;
    white-space: nowrap;
    padding: 40px 0 20px;
}

.video-carousal > div {
    overflow: hidden;
    width: calc(100% - 15em);
    display: inline-block;
}

.video-carousal > .left-arrow::before {
    content: "\00AB";
    position: absolute;
    top: 35%;
    left: 1em;
    font-size: 3em;
    cursor: pointer;
}

.video-carousal > .right-arrow::after {
    content: "\00BB";
    position: absolute;
    top: 35%;
    right:1em;
    font-size: 3em;
    cursor: pointer;
}

.video-item {
    width: 150px;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px;
    transition: all 0.5s ease-in;
}
.video-item.locked { cursor: auto; }
.video-text { font-size: 1.5em; margin-bottom: 0.5em; }
.video-thumbnail {
    position: relative;
}

.video-thumbnail > img{
    width: 100%;
    height: 115px;
    object-fit: cover;
    border: 4px solid rgba(255, 255, 255, 0.75);
}

.video-item .lock-overlay {
    display: none;
}

.video-item.locked .lock-overlay {
    display: block;
}

.lock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
}

.lock-overlay img {
    margin-top: 12%;
    width: 50%;
}

.video-text {
    padding: 0.5em 0;
    text-transform: uppercase;
}

.video-container.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    color: white;
}

.video-container.overlay .video-carousal {
    background-color: transparent;
}

.video-container .video-carousal {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Cross Button */
.video-container .cross-button { display: none; }
.video-container.overlay .cross-button { display: block; }
.cross-button {
    position: absolute;
    top: 0.25em;
    left: 0.5em;
    font-size: 3em;
    cursor: pointer;
}

/* Video Block */
.video-container .video-block { display: none; }
.video-container.overlay .video-block { display: block; margin: 3% 0 4%; }
.video-block video {
    min-height: 300px;
    width: 80%;
    max-height: 450px;
    max-width: 800px;
    background-color: black;
}